$colorFontWhite: rgb(255, 255, 255);
$fontPrata:  'Prata', serif;
$reasonHeight: 650px;

@font-face {
    font-family: 'Prata';
    src: url(https://fonts.googleapis.com/css?family=Prata&display=swap);
}

@font-face {
    font-family: 'Mansalva';
    src: url(https://fonts.googleapis.com/css?family=Mansalva&display=swap);
}

body {
    margin: 0;
    padding: 0;
}

@mixin headlineFont($textAlign, $marginLeft: 1.5em) {
    text-align: $textAlign;
    margin-right: 1.5em;
    margin-left: $marginLeft;
    font-size: 2.5em;
    color: $colorFontWhite;
    font-family: $fontPrata;
}

@mixin buttonOpenClose {
    width: 250px;
    padding: 10px;
    color: $colorFontWhite;
    font-size: 25px;
    font-family: $fontPrata;
    border: 2px solid $colorFontWhite;
    border-radius: 30px;
    background: none;
    cursor: pointer;
}

@mixin buttonsAction($width, $margin) {
    width: $width;
    height: 50px;
    margin: $margin;
    border: 2px solid $colorFontWhite;
    border-radius: 30px;
    background: none;
    color: $colorFontWhite;
    font-size: 20px;
    font-family: $fontPrata;
    cursor: pointer;
}

@mixin inputForm {
    color: $colorFontWhite;
    text-align: center;
    font-size: 20px;
    width: 350px;
    height: 50px;
    border: 1px solid $colorFontWhite;
    border-radius: 30px;
    background: none;
    margin: 10px 0 20px 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1280px;
    margin: 0 auto;
    background: rgb(210, 180, 140);
}

.headerDe {
    background: url(../images/brandenburgGate.jpg) no-repeat; 
    background-size: 100% 100%; 
}

.info {
    color: rgb(224, 255, 255);
    font-size: 1.8em;
    font-family: $fontPrata;
    text-align: right;
    padding-right: 1em;
}
.name {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Mansalva', cursive;
    font-size: 7em;
    font-weight: 900;
    text-align: center;
}
.languages {
    display: flex;
    font-family: $fontPrata;
}

.englishDe, .germanDe{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.englishDe p, .germanDe p {
    text-align: center;
}

.englishDe a {
    text-decoration: none;
    color: rgb(169, 169, 169);
    font-size: 1.7em;
    cursor: pointer;
}

.germanDe a {
    text-decoration: none;
    color: $colorFontWhite;
    font-size: 1.7em;
    cursor: pointer;
}

.englishDe img, .germanDe img {
    max-width: 100px;
}

.navigationGermany {
    list-style: none;
    text-align: center;  
    background-color: rgba(0, 0, 0, 0.6);
}

.navigationList li {
    display: inline;
}
.navigationList a {
    margin: 0 20px 15px 20px;
    text-align: center;
    text-decoration: none;
    color: $colorFontWhite;
    font-size: 1.4em;
    font-family: $fontPrata;
    cursor: pointer;
}

.visible {
    border-bottom: 6px solid $colorFontWhite;
}

.hidden {
    border-bottom: none;
}

.navMobile {
    display: none;
}
.menuMobile {
    display: none;
}

.description {
    display: flex;
}
.image {
    flex: 1;
}

.textDescription {
    flex: 2;
}

.headlineRight {
    @include headlineFont(right, 0);
}   

.headlineLeft {
    @include headlineFont(left);
} 

.textDescription > p {
    color: $colorFontWhite;
    font-size: 1.5em;
    font-family: $fontPrata;
}

.image img {
    margin: 30px;
    max-width: 300px;
    border-radius: 100px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.listTest {
    height: 400px;
    p {
        margin-left: 1.5em;
        color: $colorFontWhite;
        font-size: 1.2em;
        font-family: $fontPrata;
    }
}

.listTest div.listQuestions1 {
   display: block;
}

.listTest {
    div {
    display: none;
    color: $colorFontWhite;
    font-size: 1.5em;
    padding: 0 0 0 70px;
    }
}

.listTest input[type="radio"] {
    display:none; 
}

.listTest label {
    display:inline-block;
    background-color: $colorFontWhite;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 20px 0 20px;
    border: 2px solid rgb(128, 128, 128);
}

.listTest input[type="radio"]:checked + label { 
    background-color:rgb(75, 0, 130);
    border: 3px solid $colorFontWhite;
}

.answerContainer {
    display: none;
}

.buttonTestContainer {
   padding-left: 50px;
   padding-top: 80px;
}
.buttonTest {
    @include buttonsAction(250px, 0px);
}

.buttonTest:hover {
    font-weight: 900;
}

.buttonEnroll {
    @include buttonsAction(350px, 0);
}

.buttonEnroll:hover {
    font-weight: 900;
}

.reason {
    font-family: $fontPrata;
}

.background {
   background-color: rgba(0, 0, 0, 0.3);
   height: 650px;
}

.reasonNumber1 {
    grid-column: 1/3;
    grid-row: 1/2;
    background: url("../images/lecture.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
}
.reasonNumber2 {
    grid-column: 3/4;
    grid-row: 1/3;
    background: url("../images/time.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
}
.reasonNumber3 {
    grid-column: 1/3;
    grid-row: 2;
    background: url("../images/online.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
}
.reasonNumber4 {
    background: url("../images/group.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
}
.reasonNumber5 {
    grid-column: 2/4;
    grid-row: 3;
    background: url("../images/teacher.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
}
.Children1 {
    background: url("../images/technologies.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: $reasonHeight;
}
.Children2 {
    background: url("../images/time.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: $reasonHeight;
}
.Children3 {
    background: url("../images/onlineChild.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: $reasonHeight;
}
.Children4 {
    background: url("../images/children.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: $reasonHeight;
}
.Children5 {
    background: url("../images/childPractice.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: $reasonHeight;
}

.reasonNumber h2 {
    color: $colorFontWhite;
}
.reasonNumber p {
    color: $colorFontWhite;
    font-size: 1.5em;
}
.imageReason {
    text-align: center;;
}
.imageReason img{
    margin-top: 10px;
    max-width: 250px;
    max-height: 150px;
    border-radius: 30px;
}
.text {
   padding: 10px;
   text-align: center;
   font-size: 25px;
   color: $colorFontWhite;
}

.containerForm {
    width: 500px;
    margin: 0 auto;

    form {
        text-align: center;
    }
}

.formfreeLesson {
    legend {
        color: $colorFontWhite;
        font-size: 30px;
    }
    label {
        color: $colorFontWhite;
        font-size: 25px;
    }

    input {
        @include inputForm;
    }
}

.btnSend {
    @include buttonsAction(250px, 30px);
}

.btnSend:hover {
    font-weight: 900;
}

.costCalculation {
    text-align: center;
    

    button {
        border: 2px solid $colorFontWhite;
        border-radius: 30px;
        background: none;
        height: 50px;
        margin: 10px;
        padding: 10px 20px 10px 20px;
        color: $colorFontWhite;
        font-size: 20px;
        font-family: $fontPrata;
        cursor: pointer;
    }

    button:hover {
        color: rgb(176, 224, 230);
        font-weight: 900;
    }

    .teacher {
        display: none;
     }

    .course {
        display: none;
    }

    .intensity {
        display: none;
    }

    .days {
        display: none;
    }

}

.headline {
    color: $colorFontWhite;
    font-size: 25px;
}

.schedule {
    display: none;
    height: 150px;
}

#schedule {
    margin: 0 auto;
    text-align: center;

    thead {
        font-size: 20px;
        font-weight: bold;
        background-color: #00008B;

        th {
            width: 350px;
            padding: 10px;
            color:  $colorFontWhite;
        }
    }
}

.showComments {
    height: 450px;
    border: 2px solid black;
}
.openCloseCreateComment {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    width: 250px;

    #open {
        @include buttonOpenClose;
    }
}
.createComment {
    display: none;
    form {
        width: 750px;
        margin: 0 auto;
        text-align: center;

        fieldset {
            legend {
                color: $colorFontWhite;
                font-size: 30px;
            }
            label {
                color: $colorFontWhite;
                font-size: 25px;
            }
            input {
                @include buttonOpenClose;
            }
            textarea {
                width: 650px;
                border: 1px solid $colorFontWhite;
                border-radius: 30px;
                background: none;
                color: $colorFontWhite;
                text-align: left;
                padding: 20px;
                font-size: 20px;
            }
        }
        
        button {
            @include buttonsAction(250px, 30px);
        }

        button:hover {
            font-weight: 900;
        }

    }
}

.footerDe {
    height: 250px; 
    background: rgb(151, 117, 66);
    display: grid;
    grid-template-columns: 70% 30%;

    div {
        text-align: center;
        margin-top: 20px;
    }

    p {
        color:  $colorFontWhite;
        font-size: 18px;
        font-family: $fontPrata;
        
        a {
            color:  $colorFontWhite;
            text-decoration: none;
            margin: 25px;
        }
    }

    .pName {
        font-family: 'Mansalva', cursive;
        font-size: 20px;
    }
}