@media only screen and (max-width: 1100px) {
  .headerEn {
    background: url(../images/londonBridgemob900.jpg) no-repeat;
    background-size: 100% 100%; }
  .name {
    font-size: 4em; }
  .navigationEnglish .navigationList li {
    display: inline; }
  .navigationEnglish .navigationList a {
    margin: 0 20px 15px 20px;
    font-size: 1.3em;
    cursor: pointer; }
  .headlineRight {
    font-size: 2em; }
  .headlineLeft {
    font-size: 2em; }
  .listTest div {
    font-size: 1.2em; } }

@media only screen and (max-width: 900px) {
  .headerEn {
    background: url(../images/londonBridgemob900.jpg) no-repeat;
    background-size: 100% 100%; }
  .info {
    font-size: 1.5em; }
  .name {
    font-size: 4em; }
  .headerContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(0, 0, 0, 0.4); }
  .languages {
    display: block; }
  .englishEn, .germanEn {
    background-color: transparent; }
  .navigationEnglish {
    background-color: transparent; }
    .navigationEnglish .navigationList li {
      display: block;
      width: 250px;
      margin-bottom: 10px; }
    .navigationEnglish .navigationList a {
      font-size: 1.3em; }
  .textDescription > p {
    margin-right: 10px; } }

@media only screen and (max-width: 800px) {
  .headerEn {
    background: url(../images/london1.jpg) no-repeat;
    background-size: 100% 100%; }
  .name {
    font-size: 3em; }
  .englishEn p img, .germanEn p img {
    max-width: 70px; }
  .englishEn a {
    font-size: 1.4em; }
  .germanEn a {
    font-size: 1.4em; }
  .image img {
    margin: 30px;
    max-width: 200px;
    border-radius: 80px; }
  .createComment {
    display: none; }
    .createComment form {
      width: 650px; }
      .createComment form fieldset legend {
        font-size: 25px; }
      .createComment form fieldset label {
        font-size: 25px; }
      .createComment form fieldset textarea {
        width: 450px;
        height: 150px; } }

@media only screen and (max-width: 700px) {
  .info {
    font-size: 1.3em; }
  .headlineRight {
    font-size: 1.7em; }
  .headlineLeft {
    font-size: 1.7em; }
  .image {
    display: none; }
  .textDescription > p {
    text-align: left;
    margin: 0 10px 0 10px; }
  .listTest {
    height: 300px; }
    .listTest p {
      font-size: 1.2em; }
  .listTest div {
    padding: 0 30px 50px 0; }
  .formfreeLesson legend {
    font-size: 23px; }
  .formfreeLesson label {
    font-size: 23px; }
  .headline {
    font-size: 20px; }
  .createComment {
    display: none; }
    .createComment form {
      width: 450px; }
      .createComment form fieldset legend {
        font-size: 23px; }
      .createComment form fieldset label {
        font-size: 20px; }
      .createComment form fieldset textarea {
        width: 300px;
        height: 100px; } }

@media only screen and (max-width: 600px) {
  .info {
    font-size: 1.2em;
    color: white;
    text-align: center; }
  .main {
    overflow-x: hidden; }
  .name {
    font-size: 3em; }
  .headerEn {
    background: url(../images/london2.jpg) no-repeat; }
  .headerContainer {
    display: none; }
  .navMobile {
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: none;
    color: white;
    font-size: 25px;
    margin: 0 0 0 20px; }
  .menuMobile {
    position: absolute;
    background: rgba(128, 128, 128, 0.9);
    border-radius: 0 20px 20px 0;
    width: 350px;
    height: 350px; }
    .menuMobile ul {
      z-index: 1000;
      list-style: none;
      text-align: center; }
    .menuMobile .navigationListMobile li {
      text-align: left;
      margin: 20px 0 15px 0;
      border: none; }
    .menuMobile .navigationListMobile a {
      color: white;
      text-decoration: none;
      font-size: 1.4em; }
      .menuMobile .navigationListMobile a img {
        max-width: 30px; }
  .containerForm {
    width: 350px; }
  .formfreeLesson legend {
    font-size: 20px; }
  .formfreeLesson label {
    font-size: 18px; }
  .costCalculation button {
    height: 50px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 18px; }
  #schedule thead {
    font-size: 16px; } }

@media only screen and (max-width: 480px) {
  .name {
    font-size: 2em; }
  .container {
    overflow-x: hidden; }
  .listTest {
    height: 300px; }
    .listTest p {
      font-size: 1em; }
  .headlineRight {
    font-size: 1.4em; }
  .headlineLeft {
    font-size: 1.4em; }
  .textDescription > p {
    font-size: 1.2em; }
  .buttonTest {
    width: 200px;
    margin: 0px;
    font-size: 18px; }
  .formfreeLesson legend {
    font-size: 20px; }
  .formfreeLesson label {
    font-size: 18px; }
  .formfreeLesson input {
    font-size: 18px;
    width: 250px; }
  .btnSend {
    width: 200px;
    margin: 30px;
    font-size: 18px; }
  .costCalculation button {
    margin: 10px;
    padding: 0 10px 0 10px;
    font-size: 18px; }
  .openCloseCreateComment #open {
    width: 150px;
    font-size: 18px; }
  .createComment form {
    width: 300px; }
    .createComment form fieldset legend {
      font-size: 20px; }
    .createComment form fieldset label {
      font-size: 18px; }
    .createComment form fieldset input {
      font-size: 18px;
      width: 250px; }
    .createComment form fieldset textarea {
      width: 250px;
      height: 100px;
      font-size: 18px; }
    .createComment form button {
      width: 200px;
      margin: 30px;
      font-size: 18px; } }
