.formfreeLesson {
    color: rgb(255, 255, 255);
}
.containerForm {
    width: 500px;
    margin: 30px auto; 
}
.containerForm form {
    text-align: center; 
}

.formfreeLesson legend {
    color: white;
    font-size: 30px; 
}

.formfreeLesson label {
    color: white;
    font-size: 25px; 
}

.formfreeLesson input {
    color: white;
    text-align: center;
    font-size: 20px;
    width: 350px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    background: none;
    margin: 10px 0 20px 10px; 
}
.btnSend {
    width: 250px;
    height: 50px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 30px;
    background: none;
    color: white;
    font-size: 20px;
    font-family: "Prata", serif;
    cursor: pointer; 
}

.btnSend:hover {
    font-weight: 900; 
}

@media only screen and (max-width: 480px) {
    .containerForm {
        width: 400px;
        margin: 20px auto; 
    }

    .formfreeLesson legend {
        font-size: 20px; 
    }

    .formfreeLesson label {
        font-size: 18px; 
    }
    
    .formfreeLesson input {
        font-size: 18px;
        width: 300px;
    }

    .btnSend {
        width: 250px;
        height: 40px;
        margin: 20px;
    }
}

@media only screen and (max-width: 380px) {
    .containerForm {
        width: 300px;
        margin: 10px auto; 
    }

    .formfreeLesson legend {
        font-size: 20px; 
    }

    .formfreeLesson label {
        font-size: 18px; 
    }
    
    .formfreeLesson input {
        font-size: 18px;
        width: 250px;
    }

    .btnSend {
        width: 200px;
        height: 40px;
        margin: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .containerForm {
        width: 300px;
        margin: 10px auto; 
    }

    .formfreeLesson legend {
        font-size: 20px; 
    }

    .formfreeLesson label {
        font-size: 18px; 
    }
    
    .formfreeLesson input {
        font-size: 18px;
        width: 250px;
    }

    .btnSend {
        width: 200px;
        height: 40px;
        margin: 10px;
    }
}

  