.navigationEnglish {
    list-style: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.navigationEnglish .navigationList li {
    display: inline; 
}
.navigationEnglish .navigationList button {
    margin: 0 20px 15px 20px;
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-family: "Prata", serif;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .description {
    margin-left: 30px;
    margin-bottom: 30px;
    height: 300px;
  }
  
  .textDescription {
    color: rgb(255, 255, 255);
    font-family: "Prata", serif; 
    line-height: 50px;
  }

  .headlineRight {
    height: auto;
    font-size: 2.5em;
    text-align: right;
    margin-right: 20px;
  }

  .headlineLeft {
    text-align: left;
    font-size: 2.5em;
    font-family: "Prata", serif; 
    margin-left: 20px;
  }
  
  .age  {
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .article {
    font-size: 20px;
  }


  @media only screen and (max-width: 1024px) {
    .navigationEnglish {
      display: none; 
    }
 
    .description {
      margin-left: 0;
      margin-bottom: 0;
      height: auto;
    }
 
    .headlineRight {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      margin-top: 20px;
    }

    .headlineLeft {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      padding-top: 20px;
    }
    
    .age  {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
    }
       
    .article {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
      text-align: center;
      padding: 0 30px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .navigationEnglish {
      display: none; 
    }
 
    .description {
      margin-left: 0;
      margin-bottom: 0;
      height: auto;
    }
 
    .headlineRight {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      margin-top: 20px;
    }

    .headlineLeft {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      padding-top: 20px;
    }
    
    .age {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
      text-align: center;
    }
       
    .article {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
      text-align: center;
      padding: 0 20px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .navigationEnglish {
      display: none; 
    }
 
    .description {
      margin-left: 0;
      margin-bottom: 0;
      height: auto;
    }
 
    .headlineRight {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      margin-top: 20px;
    }

    .headlineLeft {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      padding-top: 20px;
    }

    .age  {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
      text-align: center;
    }
       
   .article {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  
  @media only screen and (max-width: 720px) {
    .navigationEnglish {
      display: none; 
    }
 
    .description {
      margin-left: 0;
      margin-bottom: 0;
      height: auto;
    }
 
    .headlineRight {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      margin-top: 20px;
    }

    .headlineLeft {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      padding-top: 20px;
    }
    
    .age  {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
      text-align: center;
    }
       
    .article {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navigationEnglish {
      display: none; 
     }
 
    .description {
      margin-left: 0;
      margin-bottom: 0;
      height: auto;
    }
 
    .headlineRight {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      margin-top: 20px;
    }

    .headlineLeft {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      padding-top: 20px;
    }
    
    .age  {
      font-size: 18px;
      text-align: center;
      line-height: 30px;
    }
       
    .article {
      text-align: center;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .navigationEnglish {
      display: none; 
    }
 
    .description {
      margin-left: 0;
      margin-bottom: 0;
    }
 
    .headlineRight {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      margin-top: 20px;
    }

    .headlineLeft {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      padding-top: 20px;
    }
    
    .age, .article  {
      text-align: center;
      font-size: 18px;
      line-height: 30px;
    }
  }
  
  @media only screen and (max-width: 380px) {
    .navigationEnglish {
      display: none; 
    }
 
    .description {
      margin-left: 0;
      margin-bottom: 0;
    }
 
    .headlineRight {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      text-align: center;
    }

    .headlineLeft {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      text-align: center;
      padding-top: 20px;
    }
    
    .age, .article  {
      font-size: 18px;
      text-align: center;
      line-height: 30px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .navigationEnglish {
     display: none; 
    }

    .description {
      margin-left: 0;
      margin-bottom: 0;
    }

    .headlineRight {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      margin-top: 20px;
      margin-right: 0;
    }

    .headlineLeft {
      height: auto;
      font-size: 25px;
      line-height: 20px;
      text-align: center;
      padding-top: 20px;
      margin-left: 0;
    }

    .age, .article  {
      text-align: center;
      font-size: 18px;
      line-height: 30px;
      margin-top: 20px;
    }
  }
  