@font-face {
  font-family: 'Prata';
  src: url(https://fonts.googleapis.com/css?family=Prata&display=swap); }

@font-face {
  font-family: 'Mansalva';
  src: url(https://fonts.googleapis.com/css?family=Mansalva&display=swap); }

*{
  margin: 0;
  padding: 0;
}





.costCalculation {
  text-align: center; 
}
.costCalculation button {
  border: 2px solid white;
  border-radius: 30px;
  background: none;
  height: 50px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 20px;
  font-family: "Prata", serif;
  cursor: pointer; 
}
.costCalculation button:hover {
  color: powderblue;
  font-weight: 900; 
}
.costCalculation .teacher {
  display: none; 
}
.costCalculation .course {
  display: none; 
}
.costCalculation .intensity {
  display: none; 
}
.costCalculation .days {
  display: none; 
}
.headline {
  color: white;
  font-size: 25px; 
}
.schedule {
  display: none;
  height: 150px; 
}
#schedule {
  margin: 0 auto;
  text-align: center; 
}
#schedule thead {
  font-size: 20px;
  font-weight: bold;
  background-color: #00008B; 
}
#schedule thead th {
  width: 350px;
  padding: 10px;
  color: white; 
}