.reasons {
  background-color: rgb(255, 255, 255);
  height: 720px;
}
.title {
  font-size: 2.5em;
  font-family: "Prata", serif;
}
.reason {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 550px;
  height: 300px;
  opacity: 0.8;
}
.reason img{
  max-width: 250px;
  margin-top: 50px;
  margin-left: 10px;
}
.reasonNumber1 h2, .reasonNumber4 h2{
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 200px;
  margin-top: 30px;
}
.reasonNumber2 h2, .reasonNumber3 h2{
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 200px;
  margin-top: 30px;
}
.reason p {
  font-size: 18px;
  padding: 10px;
}
.reasonNumber1 {
  margin-left: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.reasonNumber2 {
  left: 640px;
  margin-top: 20px;
}
.reasonNumber3 {
  margin-top: 350px;
  left: 50px;
}
.reasonNumber4 {
  margin-top: 350px;
  left: 640px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}